body{
  box-sizing: border-box;
  background-color: aquamarine;
}
.Co{
  background-color: rgb(42, 119, 119);
  display: block;
  border-radius: 15px;
}
.Kuba{
  display: inline-block;
  background-color: chocolate;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.madskr{
  display: block;
  background-color: coral;
  margin-top: 50px;
}