body{
  box-sizing: border-box;
  background-color: aquamarine;
}
.Co{
  background-color: rgb(42, 119, 119);
  display: block;
  border-radius: 15px;
}
.Kuba{
  display: block;
  background-color: chocolate;
  width: 500px;
  height: 500px;
}