body{
  box-sizing: border-box;
  background-color: aquamarine;
}
.Co{
  background-color: rgb(42, 119, 119);
  display: block;
  border-radius: 15px;
}
.Kuba{
  display: inline-block;
  background-color: chocolate;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border-radius: 15px;
}
.madskr{
  display: block;
  background-color: rgb(173, 80, 255);
  margin-top: 50px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}
.HH{
  display: block;
  margin: 0 auto;
  background-color: black;
  width: 150px;
  height: 150px;
}